.App {
  text-align: left;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* Styles for sidebar button spacing */
.offcanvas-body .btn {
  margin-bottom: 10px; /* Adds space between buttons */
  width: 100%; /* Optional: Makes buttons full width */
}
.custom-padding {
  padding: 10px 20px; /* Example padding: 10px top and bottom, 20px left and right */
}

/* App.css */
.right-aligned-buttons {
  position: absolute;
  right: 0;
  top: 50px; /* Adjust based on your header height */
}

.right-aligned-buttons .btn {
  display: block; /* Stack buttons vertically */
  margin-bottom: 10px; /* Space out buttons */
}

@media (max-width: 576px) {
  .right-aligned-buttons {
    position: static;
    margin-top: 20px;
  }
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


