.config-panel-dark {
    background-color: var(--background-color);
    color: var(--text-color);
    padding: 20px;
    border-radius: 8px;
    width: 100%;
    box-sizing: border-box;
  }
  
  .config-panel-dark .config-item {
    margin-bottom: 15px;
  }
  
  .config-panel-dark label {
    display: block;
    margin-bottom: 5px;
    color: var(--text-color);
  }
  
  .config-panel-dark input {
    background-color: var(--input-background);
    color: var(--input-text-color);
    border: 1px solid var(--border-color);
    padding: 8px;
    margin-right: 10px;
    border-radius: 4px;
    width: calc(100% - 110px);
    box-sizing: border-box;
  }
  
  .config-panel-dark button {
    background-color: var(--button-background);
    color: var(--button-text-color);
    border: 1px solid var(--border-color);
    padding: 8px 15px;
    cursor: pointer;
    border-radius: 4px;
  }
  
  .config-panel-dark button:hover {
    background-color: #444;
    --input-background: #1e1e1e;
  }
  
  /* Dark theme for button and status containers */
  .button-status-container-dark {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    background-color: var(--input-color);
    padding: 10px;
    border-radius: 8px;
  }
  
  .button-status-container-dark .btn {
    background-color: var(--button-background);
    color: var(--button-text-color);
    border: 1px solid var(--border-color);
    padding: 10px 15px;
    margin-right: 10px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .button-status-container-dark .btn:hover {
    background-color: #444;
  }
  
  .status-box-dark {
    border: 3px solid var(--border-color);
    color: var(--text-color);
    background-color: var(--background-color);
    font-size: 16px;
    font-weight: bold;
    padding: 5px;
    margin: 10px;
    display: inline-block;
  }